<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO TALENTO TECH</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/favicon.ico')}}">
    <script src= "https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous" ></script>  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="{{url_for( 'static',filename='styles/styles.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Energia Renovable</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#informacion">Información</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#dashboard">Dashboard</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#estimador">Estimador de energia renovable</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#Cargar">Resultados</a></li>
                    
                </ul>
            </div>
        </div>
   </nav>
    <header class=" masthead bg-fondo text-white text-center">
          <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="{{url_for('static', filename='assets/img/logo.gif')}}">
            <h1 class="masthead-heading text-uppercase mb-0">Energia Renovable</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class=" divider-custom-icon"><i class="fas fa-fan"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0"> El futuro brillante de nuestro planeta comienza con la energía renovable , una fuente inagotable de esperanza que ilumina el camino hacia un mundo más limpio y sostenible.</p>

          </div>
    </header>
    <section>
        <img src="../static/assets/img/Fondo.png" alt="Fondo" width="100%" height="100%">
    </section>
    <section class="page-section informacion bg-fondo text-white mb-0" id="informacion">
        <div class="container">
            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Información</h3>
            <p><br>

En un mundo que busca cada vez más la sostenibilidad, Colombia avanza en la implementación de energías renovables, aprovechando su gran potencial hidroeléctrico y eólico. Según un estudio de Blanco y Pereira (2020), el país ha logrado importantes avances, destacando la hidroelectricidad y el creciente interés por la energía eólica y solar. Sin embargo, aún enfrenta desafíos como mejorar la infraestructura de transmisión, reducir los costos tecnológicos y crear políticas más ambiciosas. <br> <br>

Las energías renovables son cruciales para: <br>
- Reducir emisiones de gases de efecto invernadero. <br>
- Aumentar la seguridad energética, disminuyendo la dependencia de combustibles fósiles. <br>
- Generar empleo y estimular la economía local. <br> <br>

Para lograr un futuro energético más sostenible, se requiere la colaboración de actores públicos y privados, así como una mayor inversión en investigación y desarrollo. La clave está en informarse, consumir energía de manera responsable y apoyar iniciativas que promuevan el uso de energías limpias. <br>
<br>
<br>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/nQcXm9rmdZM?si=DDGZ69BCMeB4NmKi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></center>
            </p>
        </div>
    </section>
    <section class="page-section " id="dashboard">
        <div class="container">
            <h2 class="page-section-heading  text-center text-uppercase text-secondary mb-0">Dashboard</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-solar-panel"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-6 mb-5">
                   <div class="dashboard-item mx-auto">
                      <img src="data:image/png;base64,{{graph_url}}" alt="Grafica de barras">
                   </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="dashboard-item mx-auto">
                        <img src="data:image/png;base64,{{graph_url2}}" alt="Grafica de torta">
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="dashboard-item mx-auto">
                        <img src="data:image/png;base64,{{graph_url3}}" alt="Grafica de Lineas">
                    </div>                   
                </div>
                <div class="col-md-6 col-lg-6 mb-5 mb-lg-0">
                    <div class="dashboard-item mx-auto">
                        <img src="data:image/png;base64,{{graph_url4}}" alt="Grafica de area">
                    </div> 
                </div>
                 
                    
                </div>     
            </div> 
        </div>
    </section>
    <section class="page-section bg-fondo text-white mb-0" id="estimador">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">Estimador de energía renovable en el consumo electrico</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-lightbulb"></i></div>
                <div class="divider-custom-line"></div>
        
            </div>
        </div>
            <form method="POST">
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="consumo_total" name="consumo_total" type="text" required />
                                <label for="consumo_total">Consumo total (kwh)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7 mb-3" >
                        {% if porcentaje_renovable is not none %}
                        <div class="resultado">
                        <h4><span class="badge text-bg-success"> <i class="fas fa-solar-panel"></i> El pocentaje de energía renovable en tu consumo es :{{porcentaje_renovable | round (2)}} &
                        </span></h4>
                        </div>
                    </div>
                {& elif error &}
                    <div class="error">
                        <h4><span class="badge text-bg-danger">{{error}}</span></h4>
                    </div>
                {% endif %}
                </div>
    
                <div class="text-center mt-4">
                    <button class="btn btn-primary btn-outline-light"><i class="fas fa-plug me-2"></i> Calcular</button>
                </div>
            </form><br>
            <div class="text-center mb-5">
                <img src="{{url_for('static', filename='assets/img/formula.png')}}" width="50%" height="70%"/>
            </div>
        </div>
    </section>
    <section class="page-section" id="Cargar">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Información Sobre Energía Renovable de Sur America</h2>
    
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class=" fas fa-plug-circle-plus"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <table id="tabla_datos" class="display">
                        <thead>
                            <tr>
                                <th>Entidad</th>
                                <th>Código</th>
                                <th>Año</th>
                                <th>Renovables(%energía primaria equivalente)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fila in data %}
                               <tr>
                                <td>{{ fila[0] }}</td>
                                <td>{{ fila[1] }}</td>
                                <td>{{ fila[2] }}</td>
                                <td>{{ fila[3] }}</td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>

        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
               <h3>ENERGIA RENOVABLE</h3>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h5 class="text-center mb-4"> Brehiman Alejandro Melchor Pescador<br> Carlos Felipe Castaño Rodríguez<br> Jhon Wilson Marin Betancur <br> Juan José Pardo osorio <br> Juliana Lugo Marín <br> </h5>
            </div>
            <div class="col-lg-4">
               <h3>PEREIRA - RISARALDA </h3> 
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2024 Página informativa energía renovable</p>
        </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for( 'static',filename='js/script.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabla_datos').DataTable();
        });
    </script>
</body>
</html>